name: py-app-cicd

on:
  push:
    paths:
      - src/**
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    
      - 
        name: Generate Short Github Commit id
        shell: bash
        run: |
          echo "COMMIT_ID=${GITHUB_SHA::6}" >> ${GITHUB_ENV} 

      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: aumthakkar/2py-app:${{ env.COMMIT_ID}}

    outputs:
      commit_id: ${{ env.COMMIT_ID }} 